@import 'includes/includes.scss';

// Font Includes
@font-face {
  font-family: 'Oswald';
  src: url('../fonts/Oswald-Regular.woff2') format('woff2'),
    url('../fonts/Oswald-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Oswald';
  src: url('../fonts/Oswald-Medium.woff2') format('woff2'),
    url('../fonts/Oswald-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Oswald';
  src: url('../fonts/Oswald-SemiBold.woff2') format('woff2'),
    url('../fonts/Oswald-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Oswald';
  src: url('../fonts/Oswald-Bold.woff2') format('woff2'),
    url('../fonts/Oswald-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
    url('../fonts/Roboto-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Medium.woff2') format('woff2'),
    url('../fonts/Roboto-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-SemiBold.woff2') format('woff2'),
    url('../fonts/Roboto-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
    url('../fonts/Roboto-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  text-size-adjust: 100%;
  font-family: $font-primary;
  font-size: $rem;
  line-height: 1;

  &:after {
    content: '';
    position: fixed;
    inset: 0;
    background-color: rgba(black, 80%);
    visibility: hidden;
    opacity: 0;
    z-index: 98;
    transition: all 0.5s ease;
  }

  &.body-overlay {
    position: fixed;
    overflow-y: scroll;
    width: 100%;

    &:after {
      visibility: visible;
      opacity: 1;
    }
  }
}

h1 {
  @include headline-1;
}

h2 {
  @include headline-2;
}

h3 {
  @include headline-3;
}

h4 {
  @include headline-4;
}

h5 {
  @include headline-5;
}

p {
  @include body-font;

  &:last-child {
    margin-bottom: 0;
  }
}

b,
strong {
  font-weight: $fw-bold;
}

a {
  //text-decoration-color: $motovers-magenta;
  transition: color 0.3s ease;

  &:hover {
    //color: $motovers-magenta;
  }
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
}

figcaption {
  margin-top: 1em;
}

:focus-visible {
  //outline: 2px solid $motovers-magenta;
  outline-offset: 2px;
  border-radius: 2px;
}

:focus:not(:focus-visible) {
  outline: none;
}

.heading-highlight {
  display: inline-block;
  padding-right: 1.25rem;
  padding-left: 1.25rem;
  border-radius: $default-radius;
  background-color: $color-dark;
  color: $white;
  line-height: 1.25;
}
