// BREAKPOINTS

@mixin breakpoint-min($bp) {
  @media only screen and (min-width: $bp) {
    @content;
  }
}

@mixin breakpoint-max($bp) {
  @media only screen and (max-width: $bp) {
    @content;
  }
}

@mixin breakpoint-min-max($bp1, $bp2) {
  @media only screen and (min-width: $bp1) and (max-width: $bp2) {
    @content;
  }
}

// CONTAINERS

@mixin container($size: normal) {
  width: 90%;
  max-width: 80rem; // 1280px
  margin: 0 auto;

  @include breakpoint-max($max-laptop) {
    width: 90%;
  }
}
