// Colors
$white: #ffffff;
$color-dark: #2d2d2d;
$color-accent: #23597b;
$color-neutral-dark: #2f4858;
$color-darkest: #020a0f;
$color-neutral-light: #edeff3;
$color-red: #c91d23;

// Typography
$font-primary: 'Oswald', sans-serif;
$font-secondary: 'Roboto', sans-serif;

$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;

$rem: 16px;

$text-alpha: 0.75;

// Radius
$default-radius: 0.5rem;
$edge-radius-small: 0.75rem;
$edge-radius-big: 1.25rem;

// Breakpoints
$min-mobile-s: 479.98px;
$max-mobile: 639.98px;
$max-tablet: 767.98px;
$max-laptop: 1023.98px;
$max-desktop: 1279.98px;
$max-desktop-xl: 1919.98px;

$min-mobile-s: 480px;
$min-mobile: 640px;
$min-tablet: 768px;
$min-laptop: 1024px;
$min-desktop: 1280px;
$min-desktop-xl: 1920px;

//Spacing
$vertical-padding: clamp(3rem, 5vw, 5rem);

$margin-tiny: clamp(0.25rem, 0.5vw, 0.25rem);
$margin-xxsmall: clamp(0.5rem, 1vw, 0.5rem);
$margin-xsmall: clamp(0.75rem, 2vw, 1rem);
$margin-small: clamp(1.25rem, 3vw, 1.5rem);
$margin-medium: clamp(1.5rem, 4vw, 2rem);
$margin-large: clamp(2rem, 5vw, 3rem);
$margin-xlarge: clamp(2.5rem, 6vw, 4rem);
$margin-xxlarge: clamp(3rem, 7vw, 5rem);
$margin-huge: clamp(3.5rem, 8vw, 6rem);
$margin-xhuge: clamp(4rem, 9vw, 7rem);
$margin-xxhuge: clamp(5rem, 12vw, 10rem);

$padding-tiny: clamp(0.25rem, 0.5vw, 0.25rem);
$padding-xxsmall: clamp(0.5rem, 1vw, 0.5rem);
$padding-xsmall: clamp(0.75rem, 2vw, 1rem);
$padding-small: clamp(1.25rem, 3vw, 1.5rem);
$padding-medium: clamp(1.5rem, 4vw, 2rem);
$padding-large: clamp(2rem, 5vw, 3rem);
$padding-xlarge: clamp(2.5rem, 6vw, 4rem);
$padding-xxlarge: clamp(3rem, 7vw, 5rem);
$padding-huge: clamp(3.5rem, 8vw, 6rem);
$padding-xhuge: clamp(4rem, 9vw, 7rem);
$padding-xxhuge: clamp(5rem, 12vw, 10rem);

$shadow-large: 0 20px 24px -4px rgba(0, 0, 0, 0.08),
  0 8px 8px -4px rgba(16, 24, 40, 0.03);
