// Colors
$white: #ffffff;
$color-dark: #2d2d2d;
$color-accent: #23597b;
$color-neutral-dark: #2f4858;

// Typography
$font-primary: 'Oswald', sans-serif;
$font-secondary: 'Roboto', sans-serif;

$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;

$rem: 16px;

$text-alpha: 0.85;

// Radius
$default-radius: 0.5rem;
$edge-radius-small: 0.75rem;
$edge-radius-big: 1.25rem;

// Breakpoints
$min-mobile-s: 479.98px;
$max-mobile: 639.98px;
$max-tablet: 767.98px;
$max-laptop: 1023.98px;
$max-desktop: 1279.98px;
$max-desktop-xl: 1919.98px;

$min-mobile-s: 480px;
$min-mobile: 640px;
$min-tablet: 768px;
$min-laptop: 1024px;
$min-desktop: 1280px;
$min-desktop-xl: 1920px;

//Spacing
$vertical-padding: clamp(3rem, 5vw, 5rem);
