@import '../includes/includes.scss';

.ce_heroSection {
  position: relative;

  @include breakpoint-min($min-laptop) {
    display: flex;
    align-items: center;
    min-height: calc(100vh - 80px);
  }

  .inside {
    @include container;
    padding-block: $vertical-padding;
  }

  .hero {
    &-content {
      display: flex;
      flex-direction: column;
      max-width: 40rem;
      border-radius: $edge-radius-big;
      background-color: $white;

      .headline {
        margin-bottom: $margin-medium;
        font-weight: $fw-bold;
        @include headline-1;
      }

      .text {
        margin-bottom: $margin-medium;

        p {
          @include body-font;
        }
      }

      .buttons {
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
      }

      .button {
        @include btn;
        width: 100%;

        &.secondary {
          @include btn(secondary);
        }
      }

      @include breakpoint-min($min-mobile-s) {
        .buttons {
          flex-wrap: nowrap;
        }
      }

      @include breakpoint-min($min-laptop) {
        padding-inline: 0 3rem;
      }
    }

    &-media {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  &:not(.background) {
    .hero {
      &-content {
        position: relative;
        z-index: 1;
        padding-block: 1rem;
      }

      &-media {
        margin-inline: 5%;
        border-top-left-radius: 100px;
        border-bottom-right-radius: 100px;
        box-shadow: -1px -1px 8px 3px rgba(45, 45, 45, 0.15);
        overflow: hidden;

        @include breakpoint-min($min-laptop) {
          position: absolute;
          inset: 0;
          left: auto;
          width: 100%;
          max-width: 50%;
          min-width: 45rem;
          margin-inline: 0;
          border-top-left-radius: 200px;
          border-bottom-right-radius: 0;
        }
      }
    }
  }

  &.background {
    height: 70vh;
    min-height: 35rem;

    @include breakpoint-min($min-mobile-s) {
      display: flex;
      align-items: center;
      height: initial;
      min-height: 60vh;
    }

    .inside {
      position: sticky;
      left: 0;
      top: 4rem;
      right: 0;
      bottom: auto;
      padding-block: $padding-xhuge;

      @include breakpoint-min($min-mobile-s) {
        position: initial;
      }
    }

    .hero {
      &-content {
        max-width: 33rem;
        background-color: transparent;

        @include breakpoint-min($min-laptop) {
          max-width: 40rem;
        }

        .headline {
          color: $white;

          .heading-highlight {
            display: inline-block;
            padding-inline: 0;
            background-color: inherit;
            color: inherit;
            line-height: inherit;
          }
        }
        .text p {
          color: $white;
        }

        .button {
          @include btn(primary, alternate);

          &.secondary {
            @include btn(secondary, alternate);
          }
        }
      }
      &-media-wrapper {
        position: absolute;
        inset: 0;
        background-color: $color-darkest;
        z-index: -1;
      }
      &-media {
        position: absolute;
        inset: 0;
        top: auto;
        width: 100%;
        height: 50%;

        &:after {
          content: '';
          position: absolute;
          left: auto;
          top: 0;
          right: 0;
          bottom: 0;
          z-index: 1;
          width: 100%;
          background-image: linear-gradient(
            180deg,
            #020a0f,
            hsla(0, 0%, 100%, 0) 26%
          );
        }

        @include breakpoint-min($min-mobile-s) {
          top: 0;
          left: auto;
          width: 70%;
          height: initial;

          &:after {
            background-color: rgba(0, 0, 0, 0.5);
            background-image: linear-gradient(
              90deg,
              #020a0f,
              hsla(0, 0%, 100%, 0) 30%
            );
          }
        }
      }
    }
  }
}
