@import '../includes/includes.scss';

.ce_heroSection {
  position: relative;
  overflow: hidden;

  @include breakpoint-min($min-laptop) {
    display: flex;
    align-items: center;
    min-height: 100vh;
  }

  .inside {
    @include container;
    padding-block: $vertical-padding;
  }

  .hero {
    &-content {
      position: relative;
      z-index: 1;
      display: flex;
      flex-direction: column;
      max-width: 40rem;
      padding-block: 1rem;
      border-radius: $edge-radius-big;
      background-color: $white;

      .headline {
        margin-bottom: $m-medium;
        font-weight: $fw-bold;
        @include headline-1;
      }

      .text {
        margin-bottom: $m-medium;

        p {
          @include body-font;
        }
      }

      .buttons {
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
      }

      .button {
        @include btn;
        width: 100%;

        &.secondary {
          @include btn(secondary);
        }
      }

      @include breakpoint-min($min-mobile-s) {
        .buttons {
          flex-wrap: nowrap;
        }
      }

      @include breakpoint-min($min-laptop) {
        padding-inline: 0 3rem;
      }
    }

    &-media {
      margin-inline: 5%;
      border-top-left-radius: 100px;
      border-bottom-right-radius: 100px;
      box-shadow: -1px -1px 8px 3px rgba(45, 45, 45, 0.15);
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      @include breakpoint-min($min-laptop) {
        position: absolute;
        inset: 0;
        left: auto;
        width: 100%;
        max-width: 50%;
        min-width: 45rem;
        margin-inline: 0;
        border-top-left-radius: 200px;
        border-bottom-right-radius: 0;
      }
    }
  }
}
