@import '../includes/includes.scss';

.ce_processSteps {
  position: relative;
  padding-block: $padding-xhuge;
  overflow: hidden;

  &:after {
    content: '';
    position: absolute;
    left: -20%;
    top: auto;
    right: 0;
    bottom: -12rem;
    z-index: -1;
    width: 200%;
    height: 27rem;
    background-color: #edeff3;
    -webkit-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    transform: rotate(5deg);
  }

  .inside {
    @include container;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .headline {
    margin-bottom: $margin-xhuge;
    font-weight: $fw-bold;
    text-align: center;
  }

  .steps-list {
    display: grid;
    justify-items: center;
    align-items: stretch;
    grid-auto-columns: 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 5rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    margin-top: 3rem;

    @include breakpoint-min($min-tablet) {
      grid-template-columns: 1fr 1fr;
    }

    @include breakpoint-min($min-laptop) {
      grid-column-gap: 4rem;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }

  .step {
    &-card {
      position: relative;
      display: flex;
      width: 100%;
      height: 100%;
      padding: 4rem 1rem 3rem;
      flex-direction: column;
      align-items: center;
      text-align: center;
      border-radius: $default-radius;
      background-color: $white;
      box-shadow: 0 20px 24px -4px rgba(0, 0, 0, 0.08),
        0 9px 8px -4px rgba(16, 24, 40, 0.03),
        0 -6px 24px -4px rgba(0, 0, 0, 0.08);

      svg {
        flex-shrink: 0;
        width: 8rem;
        height: 8rem;
        margin-bottom: $margin-small;
      }
    }

    &-circle {
      position: absolute;
      left: 0;
      top: -3rem;
      right: 0;
      bottom: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 6rem;
      height: 6rem;
      margin-inline: auto;
      border-radius: 100%;
      background-color: $white;
      box-shadow: 0 -16px 20px -8px rgba(0, 0, 0, 0.08);
      z-index: 1;
    }

    &-number {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 4rem;
      height: 4rem;
      color: $color-red;
      font-size: 2rem;
      font-weight: 700;
      border: 1px solid $color-red;
      border-radius: 100%;
      background-color: #fff;
      z-index: 1;
    }

    &-headline {
      flex-shrink: 0;
      @include headline-5;
      margin-bottom: $margin-xsmall;
      font-weight: $fw-bold;
    }

    &-text {
      flex-grow: 1;
      p {
        color: rgba($color-dark, 0.65);
      }
    }
  }
}
