@import '../includes/includes.scss';

.ce_textImage {
  padding-block: $padding-xhuge;

  &.bg-light-blue {
    background-color: $color-neutral-light;
  }

  &.reverse {
    @include breakpoint-min($min-laptop) {
      .text-side {
        order: 2;
      }
    }
  }

  .inside {
    @include container;
    display: grid;
    align-items: center;
    grid-auto-columns: 1fr;
    grid-column-gap: 3rem;
    grid-row-gap: 4rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto;

    @include breakpoint-min($min-laptop) {
      grid-column-gap: 5rem;
      grid-template-columns: 1fr 1fr;
    }
  }

  .text-side {
    @include breakpoint-min($min-laptop) {
      max-width: 30rem;
    }

    .headline {
      @include headline-2;
      margin-bottom: $margin-small;
      font-weight: $fw-bold;

      .heading-highlight {
        background-color: $color-red;
      }
    }

    .text-body {
      margin-bottom: $margin-small;

      &:last-child {
        margin: 0;
      }

      p {
        @include body-font(l);
        margin-bottom: $margin-small;
        color: rgba($color-dark, 0.75);

        &:last-child {
          margin: 0;
        }
      }

      ul {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-bottom: $margin-small;
        padding: 0;
        list-style: none;

        &:last-child {
          margin: 0;
        }

        li {
          @include body-font;
          position: relative;
          display: flex;
          align-items: center;
          padding-left: 2.5rem;

          &::before {
            content: '';
            flex-shrink: 0;
            position: absolute;
            top: 0;
            left: 0;
            width: 1.5rem;
            height: 1.5rem;
            background-repeat: no-repeat;
            background-size: contain;
            background-image: url(../../icons/target-icon.svg);
          }
        }
      }
    }

    .buttons {
      display: flex;
      flex-wrap: wrap;
      gap: 1.5rem;
      margin-top: $margin-large;

      @include breakpoint-min($min-mobile-s) {
        flex-wrap: nowrap;
      }
    }

    .button {
      @include btn;
      width: 100%;

      &.secondary {
        @include btn(secondary);
      }
    }
  }

  .media-side {
    width: 100%;
    border-top-left-radius: 6.25rem;
    border-bottom-right-radius: 6.25rem;
    box-shadow: 0 20px 24px -4px rgba(0, 0, 0, 0.1),
      0 8px 8px -4px rgba(16, 24, 40, 0.1);
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
